.mobile {
  height: 100%;
    transition: transform 0.3s ease-out;
    transform: translateX(-200%);
    position: fixed;
  width: 250px;
  top: 0;
  z-index: 2000;
  width: 70%;
  max-width: 400px;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
}

.mobile.open {
   
    transform: translateX(0)
}

.m-header {
  display: flex;
  align-items: center;
  width: 100%;
  top:0;
  height: 70px;
  background: #B3D01D;
}
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');

* {
  box-sizing: border-box;
  text-decoration: none;
}


.mlink {
  z-index: 300;
    position: absolute;
    z-index: 100;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #333;
  padding: 10px 0px;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.mmenu-item:hover .mlink {
    text-decoration: none;
    color: #333;
}

.mmenu-item:hover {
  cursor: pointer;
}
.mmenu {
    display: flex;
    flex-direction: column;
    height: 100vh;
  background: #F2F2F2;
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;

  font-family: 'Titillium Web', sans-serif;
  transition: 1s;
}
.mmenu ol {
  padding-left: 0px;
}




.mmenu-item {
  padding-top: 0.5em;
  list-style-type: none;
  display: block;
  position: relative;
  font-family: 'Titillium Web', sans-serif;
}

.msub-menu  {
  list-style: none;
}


.msub-menu .mmenu-item {
  display: block;
  font-family: 'Titillium Web', sans-serif;
}

.msub-menu-item {
    padding-top: 0.3em;
  font-size: 0.8em;
}


.sm-m-link {
  margin-left:5%;
    z-index: 300;
      position: absolute;
      z-index: 100;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: #333;
    padding: 10px 0px;
    letter-spacing: 1px;
    font-size: 1.3em;
  
}


#menuicon {
    position: relative;
    left: 87%;
}

#menuicon:hover{
    cursor: pointer;
}


.user-circle {
  color: #F2F2F2;
  font-size: 2em;
  margin-left: 10px;
}

.m-header h1 {
  font-family: 'Comfortaa', cursive;
  margin-left: 10px;
  color: #F2F2F2;
  font-size: 1em;
}