.footer {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #f2f2f2;
   margin-top: 0;
   padding-top: 2%;
    height: 300px;
    background: #333;
}

.beard-social, .contact {
    display: flex;
    flex-direction: column;
font-size:  1.5em;
}

.beard-social p, .contact p {
    font-size: 1rem;
}


.icon-container {
    display: flex;
    justify-content: center;
}
.icon-social {
    border: 2px solid #f2f2f2;
    border-radius: 100px;
    background: #333;
    margin: 20px;
    width: 1.65em;
    transition: 0.3s;
}

.icon-container a {
    transition: 0.5s;
    color: #f2f2f2;
   text-decoration: none;
}

.icon-social:hover {
    transition: 0.5s;
    cursor: pointer;
    color: #333;
    background: #f2f2f2;
}

.line-sp {
    margin-top: 2.5%;
    border-top: 1px solid rgba(137, 137, 137, 0.2);
}

#p2 {
    margin-top: 0;
}

#p1 {
    margin-bottom: 0;
}

@media only screen and (max-width: 760px) { 
    .footer {
        flex-direction: column;
    }
}